
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="f-hotline col-lg-3">
                <div class="item d-inline-flex align-items-end full clearfix">
                    <div class="pull-left"><i class="fa fa-phone-square"></i></div>
                    <a href="javascript:void(0)" class="pull-left">
                        Hotline
                        <span class="big full clearfix">0247.303.3579</span>
                    </a>
                </div>
                <div class="item d-inline-flex align-items-end full clearfix">
                    <div class="pull-left"><i class="fa fa-envelope"></i></div>
                    <a href="javascript:void(0)" class="pull-left">
                        Email
                        <span class="full clearfix">cskh@moji.vn</span>
                    </a>
                </div>
                <div class="item f-txt-l full clearfix">
                    <p><a href="/chinh-sach-ban-hang-nc9356.html" target="_blank" rel="noreferrer noopener"><span
                                style="font-size:14px;">CHÍNH SÁCH BÁN HÀNG</span></a></p>
                    <p><a href="/huong-dan-mua-hang-n59156.html" target="_blank" rel="noreferrer noopener"><span
                                style="font-size:14px;">HƯỚNG DẪN MUA HÀNG</span></a></p>
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="f-room col-lg-3 ">
                <h3 class="f-title">HÀ NỘI (9h - 22h)</h3>
                <div class="f-room-text">
                    <ul>
                        <li>81 Bà Triệu, Hai Bà Trưng</li>
                        <li>241 Chùa Bộc, Đống Đa</li>
                        <li>60 Trần Đại Nghĩa, Hai Bà Trưng</li>
                        <li>226 Nguyễn Trãi, Nam Từ Liêm (gần ĐH Hà Nội)</li>
                        <li>157 Xuân Thủy, Cầu Giấy</li>
                    </ul>
                </div>
            </div>
            <div class="f-room f-room-2 col-lg-5 col-md-4 col-sm-12 col-xs-12">
                <h3 class="f-title">TP. HỒ CHÍ MINH (9h30 - 22h)</h3>
                <div class="f-room-text">
                    <ul>
                        <li>92&nbsp;Hồ Tùng Mậu, P.Bến Nghé,&nbsp;Q1</li>
                        <li>459E Nguyễn Đình Chiểu, P.5, Q.3&nbsp;(ngã tư Cao Thắng)</li>
                        <li>708 Sư Vạn Hạnh, P.12, Q.10 (đối diện chéo Vạn Hạnh Mall)</li>
                        <li>87 Bàu Cát, P.14, Q.Tân Bình&nbsp;(khúc giao Nguyễn Hồng Đào)</li>
                        <li>232 Phan Xích Long, P.7, Q.Phú Nhuận</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->


<!-- Js Plugins -->
<script src="/client/asset/js/jquery-3.3.1.min.js"></script>
<script src="/client/asset/js/bootstrap.min.js"></script>
<script src="/client/asset/js/jquery.magnific-popup.min.js"></script>
<script src="/client/asset/js/jquery-ui.min.js"></script>
<script src="/client/asset/js/mixitup.min.js"></script>
<script src="/client/asset/js/jquery.countdown.min.js"></script>
<script src="/client/asset/js/jquery.slicknav.js"></script>
<script src="/client/asset/js/owl.carousel.min.js"></script>
<script src="/client/asset/js/jquery.nicescroll.min.js"></script>
<script src="/client/asset/js/main.js"></script>
<script src="/client/js/client.js"></script>
</body>

</html>