
<footer class="footer">
    <div class="container">
        <div class="row">
           
        </div>
    </div>
</footer>
<!-- Footer Section End -->


<!-- Js Plugins -->
<script src="/client/asset/js/jquery-3.3.1.min.js"></script>
<script src="/client/asset/js/bootstrap.min.js"></script>
<script src="/client/asset/js/jquery.magnific-popup.min.js"></script>
<script src="/client/asset/js/jquery-ui.min.js"></script>
<script src="/client/asset/js/mixitup.min.js"></script>
<script src="/client/asset/js/jquery.countdown.min.js"></script>
<script src="/client/asset/js/jquery.slicknav.js"></script>
<script src="/client/asset/js/owl.carousel.min.js"></script>
<script src="/client/asset/js/jquery.nicescroll.min.js"></script>
<script src="/client/asset/js/main.js"></script>
<script src="/client/js/client.js" type="module"></script>
</body>

</html>