<%- include('../partials/header')%>
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/client"><i class="fa fa-home"></i>Trang chủ</a>
                        <span>Giỏ hàng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad" style="padding-top: 40px;">
        <div class="container">
            <form action="#" class="checkout__form">
                <div class="row">
                    <div class="col-lg-8">
                        <h5>Chi tiết đơn hàng</h5>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="checkout__form__input">
                                    <p>Tên khách hàng <span>*</span></p>
                                    <input type="text">
                                </div>
                                <div class="checkout__form__input">
                                    <p>Địa chỉ <span>*</span></p>
                                    <input type="text" placeholder="Địa chỉ">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Phone <span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Email <span></span></p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="checkout__form__checkbox"></div>
                                <div class="checkout__form__input">
                                    <p>Ghi chú <span></span></p>
                                    <textarea rows="6" style="width: 100%;border-color: #e1e1e1;"
                                        placeholder="Ghi chú về đơn hàng của bạn, ví dụ: ghi chú đặc biệt cho giao hàng."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout__order">
                            <h5>Đơn hàng</h5>
                            <div class="checkout__order__product">
                                <ul>
                                    <li>
                                        <span class="top__text">Sản phẩm</span>
                                        <span class="top__text__right">Giá</span>
                                    </li>
                                    <li>01. Chain buck bag <span>$ 300.0</span></li>
                                    <li>02. Zip-pockets pebbled<br /> tote briefcase <span>$ 170.0</span></li>
                                    <li>03. Black jean <span>$ 170.0</span></li>
                                    <li>04. Cotton shirt <span>$ 110.0</span></li>
                                </ul>
                            </div>
                            <div class="checkout__order__total">
                                <ul>
                                    <li>Tổng <span>$ 750.0</span></li>
                                    <li>Giảm giá <i style="font-weight: 100; color:#ccc">-25%</i> <span>$ 250.0</span>
                                    </li>
                                    <li>Thanh toán <span>$ 500.0</span></li>
                                </ul>
                            </div>
                            <div class="checkout__order__widget">
                                <h3 style="
                                    font-size: 16px;
                                    font-weight: 600;
                                    margin-bottom: 10px;">
                                    Phương thức thanh toán
                                </h3>
                                <label for="cash">
                                    Tiền mặt
                                    <input type="radio" id="cash" name="payment" value="cash">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="momo">
                                    Momo
                                    <input type="radio" id="momo" name="payment" value="momo">
                                    <span class="checkmark"></span>
                                </label>
                                <span id="qr-momo"></span>
                            </div>
                            <button type="submit" class="site-btn">Thanh toán</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <%- include('../partials/footer')%>